@import url(base.css);

.logo, .menu, .menu__item, .contacts {
	display: inline-block;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1141px;
  position: relative;
}

.logo, .contacts {
  margin-top: 38px;
}

.logo {
  float: left;
  margin-top: 46px;
}

.contacts {
  float: right;
  margin-left: 522px;
}

.menu {
  margin-left: 79px;
  margin-top: 47px;
}

.menu__footer {
  margin-left: 164px;
  margin-top: 56px;
}

.menu__item:last-child {
  margin-right: 0px;
}

.contacts__phone {
  font-size: 26px;
  line-height: 30px;
  font-style: normal;
}

.contacts__info {
  font-size: 13px;
  font-style: normal;
  line-height: 20px;
  text-align: end;
  margin-top: -4px;
  text-decoration: none;
  color: #98A4A8;
}

.contacts__info:hover,.contacts__info--1:hover {
  cursor: pointer;
  color: #FFFFFF;
}

.menu__link {
  font-size: 14px;
  line-height: 16px;
}

.menu__link:hover {
  color: #DA0100;
}

.menu__item {
  vertical-align: middle;
  margin-right: 50px;
}

.hello {
  margin-bottom: 249px;
}

.hello__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 96px;
  margin-bottom: 27.5px;
}

.hello__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 33.5px;
  font-style: normal;
}

.hello__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
  display: inline-block;
}

.hello__button:hover {
  background: #DA0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}

.hello__title {
  width: 511px;
}

.main__content {
  margin-top: 124px;
}

.offers {
  margin-bottom: 127px;
}

.title--fire {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 51px;
  display: inline-block;
}

.offers__fire {
  min-width: 306px;
  min-height: 49px;
}

.title__fire {
  margin-top: -85px;
  margin-left: 284px;
}

.offers__fire {
  margin-bottom: 51px;
}

.offers__item {
  min-height: 449px;
  border-radius: 5px;
  background-color: white;
  display: inline-block;
  margin-right: 23px;
  max-width: 362px;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__header {
  min-height: 144px;
  margin-bottom: 28px;
}

.offers__title {
  padding-left: 22px;
  padding-right: 232px;
  padding-bottom: 21px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.offers__text {
  color:#303030;
  font-size: 14px;
  line-height: 21px;
  margin-left: 22px;
}

.offers__feature {
  padding-left: 28px;
  color: #666666;
  font-size: 16px;
  line-height: 21px;
  display: inline-block;
}

.offers__feature--text, .offers__feauture--img  {
  display: inline-block;
}
.offers__feature--text {
  margin-left: 10px;
}

.offers__feature {
  margin-bottom: 25.5px;
}

.offers__text {
  margin-bottom: 24.5px;
}

.hello__button--light {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  background: #FFF;
  border-radius: 35px;
  padding: 19px 29px;
  display: inline-block;
  margin-left: 22px;
  border: 1px solid #F5170E;
  color: #f5170e ;
}

.hello__button--light:hover {
  background: #DA0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
  border-radius: 35px;
  color: #fff;
}
