.footer__container {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.logo__footer {
  float: left;
  margin-top: 45px;
}

.footer {
	height: 138px;
	position: relative;
	background-color: #001821;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__col {
	display: flex;
	align-items: center;
}

.footer__col--align--right {
	align-items: flex-end;
}

.contacts--1 {
	float: right;
  margin-left: 68px;
	margin-top: -36px;
}

.contacts__info--1 {
	font-size: 11px;
  font-style: normal;
  line-height: 20px;
  text-align: end;
  margin-top: -5px;
  text-decoration: none;
  color: #98A4A8;
	font-weight: 400;
}

.social__link {
	display: block;
	text-decoration: none;
	width: 36px;
	height: 36px;
	background: center center no-repeat;
}

.social__item {
	display: inline-flex;
	margin-right: 10px;
}

.social__item:last-child{
	margin-right: 0;
}

.social__list {
	margin-left: 695px;
	margin-top: -30px;
}

.social__item--icon-telegram .social__link {
	background-image: url(../../img/telegram.png);
}

.social__item--icon-telegram .social__link:hover {
	background-image: url(../../img/t2.png);
}

.social__item--icon-vk .social__link {
	background-image: url(../../img/vk.png);
}

.social__item--icon-vk .social__link:hover {
	background-image: url(../../img/vk2.png);
}

.social__item--icon-fb .social__link {
	background-image: url(../../img/f.png);
}

.social__item--icon-fb .social__link:hover {
	background-image: url(../../img/f2.png);
}

.social__item--icon-inst .social__link {
	background-image: url(../../img/in.png);
}

.social__item--icon-inst .social__link:hover {
	background-image: url(../../img/in2.png);
}