.forms {
  background: #F4F5F5;
}

.form__title {
  font-size: 48px;
  line-height: 56px;
  color: #1A1B1E;
  font-weight: bold;
}

.form__row {
  display: flex;
  margin-bottom: 24px;
}

.form__input {
  flex: 1;
  margin-right: 28px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: #FFFFFF;
  padding: 22px 30px;
  font-size: 18px;
  line-height: 21px;
  color: #1A1B1E;
  outline: none;
}

.form__input::placeholder {
  color: #666666;
}

.form__input:hover {
  border: 1px solid #F5170E;
}

.form__input:last-child {
  margin-right: 0px;
}

.form__input--textarea {
  height: 235px;
}

.controls__elem {
  cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
  background: #B9EAE4;
}

.controls__checkbox {
  display: none;
}

.forms__controls {
  display: flex;
}

.forms__controls-title {
  width: 38%;
}

.forms {
  padding-top: 66px;
}

.form__title {
  margin-bottom: 62px;
}

.forms__controls-title {
  padding-top: 12px;
  font-size: 18px;
  line-height: 21px;
  color: #1A1B1E;
}

.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.controls__item {
  margin-right: 7px;
  margin-bottom: 9px;
}

.controls__item:nth-child(5) {
  margin-right: 0px;
}

.tag__item {
  font-size: 13px;
  line-height: 15px;
  color: #303030;
  border-radius: 35px;
  background: #E7E7E7;
  padding: 10px 18px;
}

.form__btns {
  display: flex;
  justify-content: flex-end;
}

.btn {
  margin-right: 20px;
}

.btn:last-child {
  margin-right: 0px;
}

.btn--color--orange {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 35px;
  padding: 19px 39px;
  background: #f5170e;
  border: 1px solid #F5170E;
  color: #FFFFFF;
}

.btn--color--orange:hover {
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
  border-radius: 35px;
  transition: .4s;
  color: #FFFFFF;
}

.btn--color--grey {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 35px;
  padding: 19px 43px;
  background: #8E8E8E;
  border: 1px solid #8E8E8E;
  color: #FFFFFF;
}

.btn--color--grey:hover {
  border-radius: 35px;
  transition: .4s;
  color: #FFFFFF;
  background: #2B2B2B;
}

.form__btns {
  padding-top: 25px;
  padding-bottom: 96px;
}

.form__input:focus {
  border: 1px solid #F5170E;
}