.logo, .contacts {
  margin-top: 38px;
}

.logo {
  float: left;
  margin-top: 46px;
}

.contacts {
  float: right;
  margin-left: 522px;
}

.menu {
  margin-left: 79px;
  margin-top: 47px;
}

.menu__footer {
  margin-left: 164px;
  margin-top: 56px;
}

.menu__item:last-child {
  margin-right: 0px;
}

.contacts__phone {
  font-size: 26px;
  line-height: 30px;
  font-style: normal;
}

.contacts__info {
  font-size: 13px;
  font-style: normal;
  line-height: 20px;
  text-align: end;
  margin-top: -4px;
  text-decoration: none;
  color: #98A4A8;
}

.contacts__info:hover,.contacts__info--1:hover {
  cursor: pointer;
  color: #FFFFFF;
}

.menu__link {
  font-size: 14px;
  line-height: 16px;
}

.menu__link:hover {
  color: #DA0100;
}

.menu__item {
  vertical-align: middle;
  margin-right: 50px;
}

.main__content {
  margin-top: 124px;
}