.partners__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.partners__item {
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 79px;
}

.partners__item:nth-child(4n) {
  justify-content: flex-end;
}

.partners__title {
  color: #1A1B1E;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  padding-bottom: 95px;
  padding-top: 91px;
}

.partners__link {
  filter: grayscale(1);
}

.partners__link:hover {
  filter: grayscale(0);
}

.partners {
  background: #F4F5F5;
  padding-bottom: 36px;
}