.services__button--text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  background: #FFF;
  border-radius: 35px;
  padding: 19px 39px;
  border: 1px solid #F5170E;
  color: #f5170e ;
}

.services__button--text:hover {
  background: #DA0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
  border-radius: 35px;
  color: #fff;
}

.services__item {
  display: flex;
  margin-bottom: 49px;
  align-items: flex-start;
}

.services__text {
  font-size: 16px;
  line-height: 27px;
  color: #060606;
}

.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 33px;
}

.services__content {
  padding: 14px 0px 15px 56px;
  display: flex;
  flex-direction: column;
}

.services__desc {
  margin-bottom: 34px;
}

.paginator__services {
  margin-bottom: 10px;
}

.services {
  margin-top: 97px;
  margin-bottom: 87px;
}

.services__page {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}

.paginator {
	display: flex;
  justify-content: center;
  align-items: center;
}

.paginator__services {
  margin-left: 28px;
}

.paginator__display--services {
	margin-right: 25px;
  color: #000000;
}

.paginator__display--services {
	font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.paginator__list--services {
	font-weight: 700;
  font-size: 16px;
  line-height: 21px;
	display: flex;
  align-items: center;
}

.paginator__item--services {
	text-align: center;
  color: black;
}

.paginator__link--services {
	width: 32px;
	height: 32px;
	display: block;
	border-radius: 50%;
	text-decoration: none;
	line-height: 32px;
}

.paginator__item--active .paginator__link--services {
	background:#F5170E;
	color: white;
}

.paginator__link--services:hover {
	background: #F5170E;
	color: #fff;
}


