.welcome__page {
  height: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.welcome__logo {
  position: absolute;
}

.wlc__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFf;
  text-align: center;
}

.wlc__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 58px;
  position: absolute;
  margin-top: 300px;
}

.wlc__button:hover {
  background: #DA0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
  transition: .4s;
}

.welcome__page {
  opacity: 0;
  animation: zoom .9s ease-in;
  animation-fill-mode: forwards;
}

@keyframes zoom {
  from {
    transform: scale(.7);
  }

  20% {
    transform: scale(1.15);
  }

  40% {
    transform: scale(.9);
  }

  60% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}